<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create password</title>
</head>

<body>
    <div class="card" style="width: 25rem;margin: auto;">
        <h3 class="card-title text-center text-muted" style="font-family: monospace;">Registeration Form</h3>
        <div class="bg-success text-center" *ngIf="successResponse">{{successResponse}}</div>
        <div class="bg-danger text-center" *ngIf="errorResponse">{{errorResponse}}</div>
        <div class="card-body">
            <form [formGroup]="userDetails">
                <!-- Full Name -->
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input [(ngModel)]="userData.password" class="form-control" type="password" name="password" id="password"  formControlName="password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password:</label>
                    <input [(ngModel)]="userData.confirm_password" class="form-control" type="password" name="cofirm_password" id="confirm_password" formControlName="confirm_password" >
                </div>
                <button class="btn btn-primary" (click)="createPassword(userData)" [disabled]="userDetails.invalid" >Submit Details</button>
            </form>
        </div>
    </div>
</body>

</html>