<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card" style="width:100%;">
          <h1 class="text-center card-header bg-success">Employee Records</h1>
          <div class="card-body">
            <table class="table table-dark table-bordered">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone Number</th>
                </tr>
              </thead>
              <tbody *ngFor="let data of name;let i=index">
               <td><tr>{{data}}</tr></td>
                <td><tr>{{email[i]}}</tr></td>
                <td><tr>{{phone_number[i]}}</tr></td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
</body>
</html>